AI Bot For Oders.json
{
  "name": "AI Bot For Oders",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        -48
      ],
      "id": "6313a69b-c1b0-4431-abd6-bbcf840292aa",
      "name": "Telegram Trigger",
      "webhookId": "c21cc23e-bbb9-40d0-9ef8-9f24795c5165",
      "credentials": {
        "telegramApi": {
          "id": "h2yqEetBpivXCmO7",
          "name": "Customer_order_bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=# 🍔 Restaurant Order Assistant — System Prompt\n\nYou are a friendly and efficient order-taking chatbot for a burger restaurant. Your job is to help customers place their order smoothly, collect their contact and delivery details, and confirm their order.\n\n---\n\n## 📋 MENU\n\n**Burgers**\n- Classic Burger — 160 EGP\n- Double Smash Burger — 220 EGP\n- Crispy Chicken Burger — 230 EGP\n\n**Fries**\n- Regular Fries — 20 EGP\n- Large Fries — 30 EGP\n- Loaded Cheese Fries — 40 EGP\n\n**Sodas**\n- Pepsi / 7UP / Mirinda (Can) — 20 EGP\n- Water — 10 EGP\n\n---\n\n## 🧠 CONVERSATION FLOW — Follow this strictly\n\n### STEP 1 — Greet & Take Order\n- Greet the customer warmly.\n- Ask what they'd like to order.\n- Guide them through the menu if needed (burgers → fries → drinks).\n- Ask \"Anything else?\" after each item until the customer says they're done.\n\n### STEP 2 — Order Summary\nOnce the customer confirms they're done, send a clear order summary in this format:\n\n---\n🧾 *Your Order Summary:*\n\n🍔 [Item] × [Qty] — [Price] EGP\n🍟 [Item] × [Qty] — [Price] EGP\n🥤 [Item] × [Qty] — [Price] EGP\n\n💰 *Total: [X] EGP*\n---\n\nThen ask: \"Does everything look correct? ✅\"\n\n### STEP 3 — Collect Contact Info\nAfter the customer confirms the order, say:\n\n\"Great! 🎉 To complete your order, please share:\n1️⃣ Your **phone number**\n2️⃣ Your **full delivery address**\"\n\nWait for the customer to provide BOTH before moving on. If they only give one, politely ask for the missing one.\n\n### STEP 4 — Confirm & Close\nOnce you have the phone number AND address, send this closing message:\n\n\"✅ *Order Confirmed!*\nThank you for your order! 🍔🔥\nYour food is being prepared and will arrive in approximately **30 minutes**.\nWe'll call you at [their number] if needed. Enjoy your meal! 😊\"\n\n---\n\n## ⚠️ RULES\n- Only sell items from the menu above. If asked for something not on the menu, politely say it's not available.\n- Always be friendly, brief, and clear.\n- Never skip the order summary step.\n- Never confirm the order until you have BOTH phone number and address.\n- Do not make up prices or items.\n- Respond in the same language the customer uses (Arabic or English).\n\n## 🚨 IMPORTANT — ORDER COMPLETION FLAG\nWhen you send the final confirmation message (after receiving phone AND address),\nyou MUST append this block at the very end of your response, on a new line:\n\n##ORDER_DONE##\n{\n  \"items\": \"[list of items and quantities]\",\n  \"total\": \"[total in EGP]\",\n  \"phone\": \"[customer phone]\",\n  \"address\": \"[customer address]\"\n}\n##END##\n\nThis block is invisible to the customer. Always include it exactly like this."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -64,
        -112
      ],
      "id": "e67c27df-fba6-4010-85e3-d80b19f4be0f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5,
      "position": [
        -96,
        192
      ],
      "id": "54949420-62e4-49af-ac3b-9c90097afbec",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        80,
        192
      ],
      "id": "9e38beb7-312c-4006-801c-716169c0b30c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6d8766b3-dce7-41d5-99b3-d03335a0f59b",
              "leftValue": "={{ $json.output }}",
              "rightValue": "*Order Confirmed!*",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        -48
      ],
      "id": "65dae884-7f66-4774-9501-b1d0a6d4162e",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.item.json.output;\n\n// Extract JSON between the flags\nconst match = output.match(/##ORDER_DONE##([\\s\\S]*?)##END##/);\nconst order = JSON.parse(match[1].trim());\n\n// Clean the reply (remove the flag block from customer message)\nconst cleanReply = output.replace(/##ORDER_DONE##[\\s\\S]*?##END##/, '').trim();\n\nreturn {\n  cleanReply,\n  items: order.items,\n  total: order.total,\n  phone: order.phone,\n  address: order.address,\n  timestamp: new Date().toLocaleString('en-EG', { timeZone: 'Africa/Cairo' })\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -208
      ],
      "id": "82223137-1088-4096-a366-986750abd0d4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        176
      ],
      "id": "4cf9bc91-32c5-49fc-bcf9-1d48d95aedf4",
      "name": "Send a text message2",
      "webhookId": "f547304d-756a-4c83-b48f-95808551e554",
      "credentials": {
        "telegramApi": {
          "id": "h2yqEetBpivXCmO7",
          "name": "Customer_order_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "829625517",
        "text": "=🔔 *NEW ORDER RECEIVED!*  🛒 *Items:* {{ $json.items }} 💰 *Total:* {{ $json.total }} 📞 *Phone:* {{ $json.phone }} 📍 *Address:* {{ $json.address }} 🕐 *Time:* {{ $json.timestamp }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        -64
      ],
      "id": "3aaa2f01-32f5-4ea5-9d51-9ba8f100591c",
      "name": "Send to chef",
      "webhookId": "928c241b-28e5-4143-8020-c9ca1c689b0c",
      "credentials": {
        "telegramApi": {
          "id": "BuGstyuvHotWP9Gn",
          "name": "Orders"
        }
      }
    },
    {
      "parameters": {
        "chatId": "= {{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=🔔 *NEW ORDER RECEIVED!*  🛒 *Items:* {{ $json.items }} 💰 *Total:* {{ $json.total }} 📞 *Phone:* {{ $json.phone }} 📍 *Address:* {{ $json.address }} 🕐 *Time:* {{ $json.timestamp }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        112
      ],
      "id": "618f5bee-be11-4285-a86f-1de02a403eef",
      "name": "Send to customer",
      "webhookId": "f547304d-756a-4c83-b48f-95808551e554",
      "credentials": {
        "telegramApi": {
          "id": "h2yqEetBpivXCmO7",
          "name": "Customer_order_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1cJ_2U-2IMiPrypZ73vzoIIri5zxinipFMxFYqAbwZzM",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cJ_2U-2IMiPrypZ73vzoIIri5zxinipFMxFYqAbwZzM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cJ_2U-2IMiPrypZ73vzoIIri5zxinipFMxFYqAbwZzM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Time Stamp": "={{ $json.timestamp }}",
            "Items": "={{ $json.items }}",
            "Total": "={{ $json.total }}",
            "phone": "={{ $json.phone }}",
            "address": "={{ $json.address }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Time Stamp",
              "displayName": "Time Stamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Items",
              "displayName": "Items",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total",
              "displayName": "Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "address",
              "displayName": "address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        -240
      ],
      "id": "840a4378-8316-4e01-8036-ec0cfbbd5b37",
      "name": "Orders Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tlQ9m9nr4m0uPPDq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Orders Google Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send to customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send to chef",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "48b6b380-d880-4281-b262-e8018d43d42a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f57232f68ecfe5be81495428d590a65e3e1cbd3d690ca6865d584e4e2b97c23"
  },
  "id": "WZzlANW7pu6795JA",
  "tags": []
}